<h4> CHOOSE YOUR FATE </h4>

<div id="app">
  <ul id="app">
    <li v-for="race in races">
      <a>{{ race.name }}</a>
    </li>
  </ul>
  <br><br><br><br><br><br><br><br>
  <ul>
    <li v-for="alignment in alignments">
        <a>{{ alignment.name }}</a>
      </li>
  </ul>
  <br><br><br><br><br><br><br><br>
  <ul id="app">
    <li v-for="background in backgrounds">
      <a>{{ background.name }}</a>
    </li>
  </ul>
  <br><br><br><br><br><br><br><br>
  <ul id="app">
    <li v-for="charClass in charClasses">
      <a>{{ charClass.name }}</a>
    </li>
  </ul>
  <br><br><br><br><br><br><br><br>





