<div id="container" class="wrapper">
  <div id="scene" class="scene"
    data-friction-x="0.075"
    data-friction-y="0.075"
    data-scalar-x="25"
    data-scalar-y="15"
    data-pointer-events="true">
    <div class="layer" data-depth="0.00"><img src="img/mainbackground.png"></div>
    <div class="layer" data-depth="0.05"><img src="img/galaxy1.png"></div>
    <div class="layer" data-depth="0.05"><img src="img/galaxy2.png"></div>
    <div class="layer" data-depth="0.05"><img src="img/galaxy3.png"></div>
    <div class="layer" data-depth="0.10"><img src="img/sign.png"></div>
    <div class="layer" data-depth="0.09"><img src="img/waterfall.png"></div>
    <div class="layer" data-depth="0.10"><img src="img/castle.png"></div>
    <div class="layer" data-depth="0.2"><img src="img/clouds2.png" class="cloud depth-20"> </div>
    <div class="layer" data-depth="0.22"><img src="img/clouds9.png" class="cloud depth-22"></div>
    <div class="layer" data-depth="0.25"><img src="img/cloud1.png" class="cloud depth-25"></div>
    <div class="layer" data-depth="0.28"><img src="img/clouds8.png" class="cloud depth-28"></div>
    <div class="layer" data-depth="0.30"><img src="img/wallglow.png"></div>
    <div class="layer" data-depth="0.35"><img src="img/lantern.png"></div>
    <div class="layer" data-depth="0.355"><img src="img/scroll.png"></div>
    <div class=layer data-depth=".36"
      >
      <transition name="fade">
        <div v-if="showCharClass" class="info-container">
          <div class="info">
            <draggable-header-view id="slideOut">
              <template slot="header">
                <h1>CHOOSE YOUR CLASS: </h1>
              </template>
              <template slot="content">
                <ul v-for="charClass in charClasses" v-bind:key="charClass.id">
                  <input type="radio" v-bind:value="charClass.name" v-model="charClassChoice">
                  <label id="label" for="charClass.id" v-on:click="revealModal(charClass)">{{ charClass.name }}</label>
                  <br>
                </ul>
                <br><br>
                <span>You really wanna be a:<br> {{ charClassChoice }}?</span><br><br>
               <img class="button" src="/img/dndicon.png" alt="Submit" v-on:click="selectCharClassChoice()">
              </template>
            </draggable-header-view>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="showRace" class="info-container">
          <div class="info">
            <draggable-header-view id="slideOut">
              <template slot="header">
                <h1>CHOOSE YOUR RACE: </h1>
              </template>
              <template slot="content">
                <ul v-for="race in races" v-bind:key="race.id">
                  <input type="radio" v-bind:value="race.name" v-model="raceChoice">
                  <label id="label" for="race.id" v-on:click="revealModal(race)">{{ race.name }}</label>
                  <br>
                </ul>
                <br><br>
                <span>You really wanna be a:<br> {{ raceChoice }}?</span><br><br>
                <img class="button" src="/img/dndicon.png" alt="Submit" v-on:click="selectRace()">
              </template>
            </draggable-header-view>
          </div>
        </div>
      </transition>
      </transition>
      <transition name="fade">
        <div v-if="showAlignment" class="info-container">
          <div class="info">
            <draggable-header-view id="slideOut">
              <template slot="header">
                <h1>CHOOSE YOUR ALIGNMENT </h1>
              </template>
              <template slot="content">
                <ul v-for="alignment in alignments" v-bind:key="alignment.id">
                  <input type="radio" v-bind:value="alignment.name" v-model="alignmentChoice">
                  <label id="label" for="alignment.id" v-on:click="revealModal(alignment)">{{ alignment.name }}</label>
                  <br>
                </ul>
                <br><br>
                <span>You really wanna be:<br> {{ alignmentChoice }}?</span><br><br>
                <img class="button" src="/img/dndicon.png" alt="Submit" v-on:click="selectAlignment()">
              </template>
            </draggable-header-view>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="showBackground" class="info-container">
          <div class="info">
            <draggable-header-view id="slideOut">
              <template slot="header">
                <h1>CHOOSE YOUR BACKGROUND: </h1>
              </template>
              <template slot="content">
                <ul v-for="background in backgrounds" v-bind:key="background.id">
                  <input type="radio" v-bind:value="background.name" v-model="backgroundChoice">
                  <label id="label" for="background.id" v-on:click="revealModal(background)"> {{ background.name }}</label>
                  <br>
                </ul>
                <br><br>
                <span>You really wanna be a:<br> {{ backgroundChoice }}?</span><br><br>
                <img class="button" src="/img/dndicon.png" alt="Submit" v-on:click="selectBackground()">
              </template>
            </draggable-header-view>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="getUserInfo" class="info-container">
          <div class="info">
            <draggable-header-view id="slideOut">
              <template slot="header">
                <h1>CHOOSE YOUR IDENTITY: </h1>
              </template>
              <template slot="content">
                <input v-model="charName" type="text" placeholder="aka Character Name"></input>
                <br>
                <br>
                <br>
                <h1>AND YOUR NAME: </h1>
                <input v-model="userName" type="text"></input>
                <br>
                <br>
                <br>
                <div>
                  <img class="button" src="/img/dndicon.png" alt="Submit" v-on:click="buildCharacter()">
                </div>
              </template>
            </draggable-header-view>
          </div>
        </div>
      </transition>
       <transition name="fade">
        <div v-if="fin" class="info-container">
          <div class="info">
            <draggable-header-view id="slideOut">
              <template slot="header">
                <h1>FIN</h1>
              </template>
              <template slot="content">
              </template>
            </draggable-header-view>
          </div>
        </div>
      </transition>
      <div v-if="showModal">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container">

                <div class="modal-header">
                  <slot name="header">
                    <h3>{{currentName}}</h3>
                  </slot>
                </div>

                <div class="modal-body">
                  <slot name="body">
                    <br>
                    <p>{{currentDescription}}</p>
                    <p>{{currentLangInfo}}</p>
                    <p> {{currentBlurb}}</p>
                    <p>{{currentEquipment}}</p>
                  </slot>
                </div>

                <div class="modal-footer">
                  <slot name="footer">
                    <img class="button" @click="showModal = false" src="/img/dndicon.png" alt="Submit">
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</div>


<!-- Scripts -->
<script src="js/parallax.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>

<!-- DRAGGABLE HEADER SCRIPT -->
  <script type="text/x-template" id="header-view-template">
    <div class="draggable-header-view"
    @mousedown="startDrag" @touchstart="startDrag"
    @mousemove="onDrag" @touchmove="onDrag"
    @mouseup="stopDrag" @touchend="stopDrag" @mouseleave="stopDrag">
      <svg class="bg" width="400" height="300">
        <path :d="headerPath" fill="rgba(0, 0, 0, 0)"></path>
      </svg>
      <div class="header">
        <slot name="header"></slot>
      </div>
      <div class="content" :style="contentPosition">
        <slot name="content"></slot>
      </div>
    </div>
  </script>
