table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}
th {
    text-align: left;
}
table {
    border-spacing: 5px;
}


/* Vue.js fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity .8s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

/* Vue.js slide-right */
.slide-right-enter-active {
  transition: all .3s ease;
}
.slide-right-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-right-enter, .slide-right-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* Vue.js slide-left */
.slide-left-enter-active {
  transition: all .3s ease;
}
.slide-left-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(-100000px);
  opacity: 0;
}



// stuff from testcss

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic; 
  display: block;
  width: 100vw; 
  height: 100vh;
}

.scene,
.layer {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; 
}

.scene {
  min-height: 460px;
  position: relative;
  overflow: hidden; 
}

.wrapper {
  min-height: 460px;
  position: relative;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; 
}

.layer {
  position: absolute; 
}
  .layer div {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibidivty: hidden;
    -moz-backface-visibidivty: hidden;
    backface-visibility: hidden; 
    z-index: -50;
  }

  label, input {
    font-family: 'Loved by the King', cursive;
    font-size: 1.8em;
  }

h1, span {
  font-size: 2.5em;
  margin-top: 0;
  font-stretch: expanded;
  font-weight: 500;
}


a {
  color: #fff;
}
.draggable-header-view {
  background-color: rgba(0, 0, 0, 0);
  width: 400px;
  height: 300px;
  overflow: scroll;
  margin: 30px auto;
  position: relative;
  color: rgba(218, 213, 221, 1);
  font-family: 'Loved by the King', cursive;
  font-size: 14px;
  font-weight: 200;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
.draggable-header-view .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.draggable-header-view .header, .draggable-header-view .content {
  position: relative;
  z-index: 1;
  padding: 30px;
  box-sizing: border-box;
}
.draggable-header-view .header {
  height: 50px;
}
.draggable-header-view .content {
  color: rgba(218, 213, 221, 1);
  line-height: 1.6em;
  font-weight: 200;

}

.info-container {
  position: absolute;
  display: block;
  width: 100%;
  left: -200px;
  top: 250px;
}
.info {
  display: flex;
  position: relative;
  padding: 1em;
  margin: 1em;
}


// THIS IS FOR THE MODAL
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  position: relative;
  vertical-align: middle;
}

.modal-container {
  position: absolute;
  display: block;
  overflow-y: auto;
  left: 200px;
  top: 210px;
  width: 55%;
  height: 500px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(231, 232, 233, 1);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}

.modal-header h3 {
  margin-top: 0;
  color: rgba(231, 232, 233, 1);
  font-size: 2.3em;
  letter-spacing: 1.2px;
  font-family: 'Loved by the King', cursive;
}

.modal-header>h3 {
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

.modal-body {
  margin: 50px;
}


.modal-footer>.button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(2.0);
  transform: scale(2.0);
}

.button {
  align-content: center;
  left: 100px;
  background-color: transparent;
  border: none;
}

.button {
  height: 75px;
  width: 75px;
}

.fin {
  display: flex;
  position: relative;
  padding: 1em;
  margin: 1em;
}




.layer>.depth-20 {
  
}


