table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}
th {
    text-align: left;
}
table {
    border-spacing: 5px;
}


/* Vue.js fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity .8s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

/* Vue.js slide-right */
.slide-right-enter-active {
  transition: all .3s ease;
}
.slide-right-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-right-enter, .slide-right-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* Vue.js slide-left */
.slide-left-enter-active {
  transition: all .3s ease;
}
.slide-left-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(-100000px);
  opacity: 0;
}



// stuff from testcss

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic; 
  display: block;
  width: 100vw; 
  height: 100vh;
}

.scene,
.layer {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; 
}

.scene {
  min-height: 460px;
  position: relative;
  overflow: hidden; 
}

.wrapper {
  min-height: 460px;
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; 
}

.layer {
  position: absolute; 
}
  .layer div {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibidivty: hidden;
    -moz-backface-visibidivty: hidden;
    backface-visibidivty: hidden; 
    z-index: -50;
  }

  .content {
    color: #ffffff;
    padding: 5%;
    overflow: scroll;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 450px;
    z-index: 50;
  }

  label, input {
    font-family: 'PT Serif', serif;
  }

  h3 {
    font-family: 'PT Sans', sans-serif;
    text-shadow: 2px 2px 2px #aaa;
  }

  button, .button {
    padding: .3em .8em;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #58a linear-gradient(hsla(0, 0%, 100%, .2), transparent);
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    font-size: 125%;
    line-height: 1.5;
  }


